<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('head-links') -%>
    <title>My Collection</title>
  </head>
  <body>
    <%- include('user-navbar') -%>

    <!-- Start of Book Collection Table -->
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="my-4">Book List</h1>
          <!-- Start of Table -->
          <div class="table-responsive">
            <table class="table">
              <thead id="blue-palette-bg">
                <tr>
                  <th class="align-middle" style="min-width: 100px">
                    # &nbsp; <%- include('sort-icon') -%>
                  </th>
                  <th class="align-middle">Cover</th>
                  <th class="align-middle" style="width: 400px">
                    Title &nbsp; <%- include('sort-icon') -%>
                  </th>
                  <th class="align-middle" style="width: 600px">
                    Author &nbsp; <%- include('sort-icon') -%>
                  </th>
                  <th class="align-middle" style="width: 300px">
                    # Notes &nbsp; <%- include('sort-icon') -%>
                  </th>
                  <th class="align-middle" style="width: 400px">
                    Page Completed &nbsp; <%- include('sort-icon') -%>
                  </th>
                  <th class="align-middle" style="width: 300px">
                    Date Added &nbsp; <%- include('sort-icon') -%>
                  </th>
                  <th class="align-middle" style="width: 300px">
                    
                  </th>
                </tr>
              </thead>
              <!-- Include Sorting here -->

              <!-- Book data -->
              <!-- Display each sighting -->
              <tr>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
                <td class="align-middle"></td>
              </tr>
            </table>
          </div>
          <!-- End of Table -->

        </div>
      </div>

      <!-- Display empty message -->
      <div class="row mt-3">
        <div class="col">
         <h5 class="lead text-center text-muted font-italic">Your collection is empty! Add more books <a href="/books">here</a>.</h5>
        </div>
      </div>

    </div>

    <!-- End of Book Collection Table -->

    <%- include('bootstrap-scripts') -%>
  </body>
</html>
